*{
    margin: 0;
    padding: 0;
}

header{
	margin: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

header > img{
    width: 15%;
}

nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

a{
    color: #ffcc00;
    text-decoration: none;
}

video{
    width: 40%;
}

img{
    width: 40%;
}