*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body{
    width: 75%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px;
}

header > img{
    width: 15%;
}

nav{
    width: 40%;
    display: flex;
    justify-content: space-between;
}

a{
    color: #ffcc00;
    text-decoration: none;
}


/*Home*/
.home{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.homeText{
    margin: auto;
    margin: 50px 0px;
}

video{
    width: 100%;
    border-radius: 10px;
}

button{
    border: none;
    background-color: #222222;
    color: white;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}


/* Eerstejaar */
.eersteJaar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.eersteJaarText{
    margin: auto;
    margin: 50px 0px;
}


/* Vakken */
.vakkenText > h3{
    margin: auto;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}

.vak{
    background-color: #ffcc00;
    border-radius: 10px;
    padding: 20px 10px;
}

ul{
    margin-left: 20px;
}

/*Algemeen*/
img{
    width: 100%;
    border-radius: 10px;
}

h3{
    font-size: 32px;
    margin-bottom: 15px;
}

.docent > img{
    width: 50%;
}